.App {
  text-align: center;
  background-color: rgb(169, 184, 206);
  height: 100%;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 80px;
  float: right;
}

.App-header {
  background-color: whitesmoke;
  height: 85px;
  padding: 20px;
  color: #222;
  border-radius: 0 0 3px 3px;
  box-shadow: 3px 3px 3px black;
}

.App-title {
  float: right;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

p {
  font-family: 'Roboto';
  size: 9px;
}

h1, h2, h3, h4 {
  font-family: 'Lato';
  size: 12px;
}

.mainPaper {
  /* min-height: -webkit-fill-available !important; */
  height: 70vh;
  margin: 30px;
  background-color: whitesmoke;
  box-shadow: 6px 6px 6px black;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: darkslategray;
  color: whitesmoke;
  border-radius: 3px 3px 0 0;
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 3px;
}

.centerthis {
  margin: 0 auto;
}